body{
    /* source of graphics: https://pixabay.com/photos/flames-black-red-yellow-fire-1645399/*/
    background-image: url("img/background.jpg");
    color: #e80e3f;
    font-family: 'Lemonada', cursive;
}
header{
    width:600px;
    text-align: center;
    border-radius: 15px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7d1b1f;
    margin-bottom: 30px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
    -moz-box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
    box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
}
#game{
    width: 780px;
    height: 540px;
    border: #e80e3f solid;
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    position: relative;
}
#container_inner{
    display: inline-block;
}
#points > div{
    font-size: 20px;
}

select{
    width:200px;
    height: 30px;
    background: rgb(2,0,36);
    font-size: 15px;
    font-family: 'Lemonada', cursive;
    margin-left: 20px;
    background: linear-gradient(340deg, rgba(2,0,36,1) 0%, rgba(255,115,0,1) 35%, rgba(255,0,0,1) 100%);
    opacity: 0.85;
    transition: opacity .3s;
}
select:hover{
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
}

option{
    background-color: #e80e3f;
}


#start_menu{
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
    -moz-box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
    box-shadow: 0px 0px 17px 17px rgba(232,14,63,1);
    border-radius: 15px;
    border: solid #e80e3f 2px;
    background-color: #7d1b1f;
    clear: both;
}

#menu_diff{
    margin-left: auto;
    margin-right: auto;
}

#menu_diff > *{
    margin-top: 20px;
    margin-bottom: 20px;
}

#button_container > button{
    margin: 20px;
}

#button_container{
    float: left;
}

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e80e3f;
    border-color: #570316;
}

.button:hover{
    background-color: #570316;
}

#points{
    float: left;
    background-color: black;
    border: 2px solid #e80e3f;
}
